.intro__list-text {
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 150%;
}

@media screen and (min-width: 1281px) {
    .intro {
        margin: 92px 442px 92px 148px;
        max-width: 53.91vw;
    }
}